.inputSearch {
    padding: 2rem;
    height: 80px;
    border: none;
    color: grey;
    font-weight: bold;
    width: 100%;
    flex: 1;
}

.btnSearch {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 1rem;
    border: none;
    padding: 0.75rem;
    color: white;
}


.btnLocalization {
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: white;

}

.localizationCont {
    color: white;
    text-align: center;
    height: 80px;
    padding: 1rem;
}

.fa-location-dot {
    font-size: 1.5rem;
}