:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /* font-size: 16px;
  line-height: 24px;
  font-weight: 400; */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --txt-color: #01175f;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* width: 100%; */
  /* height: 100vh; */
  background-color: #f1f1f1;
}


.debugBorder{
  border: 1px solid red;
}

.boxRadiusAndShadow{
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 30%) 6px 6px 20px;
}

.backColorGradient {
  background: rgb(90,129,233);
  background: linear-gradient(144deg, rgba(90,129,233,1) 35%, rgba(109,166,241,1) 100%);
}


h3,h4, .btnAddCity {
  color: var(--txt-color);
}


.weatherImage {
  width: 70px;
  height: 70px;
}